.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 17px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin-left: 610px;
  }
  .dropbtn1 {
    background-color: #4CAF50;
    color: white;
    width: 7.5%;
    padding: 17px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin-left: 75px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 610px;
  }
  
  .dropdown-content a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn .dropbtn1 {
    background-color: #3e8e41;
  }